.box {
  width: 200px;
  height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.blurbg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(5px);
  height: 1600px;
  width: 100%;
  position: fixed;
  z-index: -1;
  -webkit-filter: blur(5px);
}

table.table-stats {
  width: 80%;
  margin-bottom: 20px
}

table.table-stats tr:nth-child(even) {
  background: rgba(255, 255, 255, .1);
}

table.table-stats td,
table.table-stats th {
  padding: 4px;
  text-align: center;
  width: 30px;
  height: 35px;
  line-height: 16px
}

table.table-stats td.text-match-name{
  word-break: break-all;
}

.match-data-list i.icons,
table.table-stats th {
  font-size: 18px;
  color: #FFFFFF;
}

table.table-stats td {
  border-left: 1px solid rgba(255, 255, 255, .1);
  font-size: 20px
}

table.table-stats.group1 td {
  color: #99E5FF
}

table.table-stats.group2 td {
  color: #FFE599
}

table.table-stats td.icon,
table.table-stats th.icon {
  border: none;
  text-align: right
}

table.table-stats td.name,
table.table-stats th.name {
  text-align: left;
  border: none;
  width: 240px;
  font-size: 20px
}

table.table-stats td.name i {
  margin: 0 5px 0 0;
  padding: 0
}

table.table-stats td.name i.flag {
  margin-top: 3px
}

table.table-stats td.name a.name {
  margin-right: 5px;
  color: #fff
}

table.table-stats td.name a.name:hover {
  color: #15C5FF
}

table.table-stats td.name a.name.vip {
  color: #FDC03D
}

table.table-stats th.hsp,
table.table-stats th.rws {
  width: 50px
}

table.table-stats th.rating {
  width: 60px
}

table.table-stats th.rank span,
table.table-stats th.rating span,
table.table-stats th.rws span {
  font-size: 11px;
  font-weight: 400
}

table.table-stats th.rank {
  width: 42px
}

table.table-stats th.rank a {
  color: #1B93BB
}

table.table-stats td.rating,
table.table-stats td.rws {
  color: #FF7373
}

table.table-stats td.rating.high,
.match-data-list td.elo .change.add {
  color: #00D936
}

table.table-stats th.elo {
  width: 85px
}

table.table-stats td.elo {
  padding: 4px 0
}

.match-data-list td.elo .origin {
  float: left;
  padding-right: 5px;
  text-align: right;
  width: 35px
}

.match-data-list td.elo .change {
  float: left;
  width: 50px;
  text-align: left
}

.match-data-list td.elo .change.less {
  color: #fff
}

.match-data-list .icon i.icons {
  float: right;
  margin-left: 5px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px
}

.profile-bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top-center;
  background-size: cover;
  display: block;
  min-height: 1600px;
  min-width: 100%;
  left: 0px;
  position: fixed;
  right: 0px;
  z-index: -1;
}

.card-wmprofile .card-header {
  width: 50%;
  padding: 0 0 0 0;
}

.card-wmprofile {
  margin: 0 0 25px 0 !important;
}

.card-wmprofile img {
  width: 124px;
  border-radius: 3px;
  float: right;
}

.material-icons {
  vertical-align: bottom;
}

.text-info2 {
  color: rgb(66, 139, 202) !important;
}

.card-stats .card-footer .stats {
  font-size: 14px !important;
}

.card-footer {
  margin-top: -10px !important;
}

@media (min-width: 1200px) {
	.d-xl-last-none:last-child{
		display:none;
	}
}

.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a .sidebar-normal, .sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal {
  display: inline-block !important;
  vertical-align: middle;
}

.text-match-title{
  font-size:35px;
}

.text-match-t{
  color: #FFE599 !important;
}

.text-match-ct{
  color: #99E5FF !important;
}

.text-ct {
  color: #2793e8 !important;
}

.text-t {
  color: #cc181e !important;
}

.text-positive{
  color: #00ff00 !important;
}

.text-negative{
  color: #ff0000 !important;
}

@media (max-width: 1200px) {
  .table-rwd{
    min-width: 100%;
  }
  tr.tr-only-hide {
    display: none !important;
  }
  .table-rwd tr{
    display: block;
    border: 1px solid #ddd;
    margin-top: 15px;
  }
  .table-rwd td {
    text-align: left !important;
    font-size: 15px;
    overflow: hidden;
    width: 49% !important;
    display: inline-block;
	}
	.table-rwd td:before {
    content: attr(data-th) " : ";
    display: inline-block;
    font-weight: bold;
	  margin-right: 10px;
    color: #fff;
    text-align: left !important;
  }
  .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{
    border:0;
  }
}